.test{
border-radius: 0.75rem;
    background: var(--White, #FFF);

    /* ShadowDropdown */
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.04), 0px 4px 10px 0px rgba(0, 0, 0, 0.04);
    padding: 1.5rem 2rem;

display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    gap: 1.25rem;
    width: 380px;
    height: 150px;
    cursor: pointer;
}

/* .test:hover{
    transform: scale(1.05);
        transition: all .5s ease;
} */

@media screen and (max-width:400px) {
    .test{
        width: 300px;
        height: 150px;
        padding: .5rem 1rem;
    }
    .top{
        padding: 0%;
    }
}

.top{
display: flex;
text-align: left;
justify-content: flex-start;
}


.tl{
color: var(--grey-900, #19191A);
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    margin-right: 1rem;
    /* 1.2rem */
}

.tr{
color: var(--grey-400, #96979A);

    /* Caption */
    font-family: Inter;
    font-size: 0.8125rem;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    /* 0.975rem */
}


.bottom{
    text-align: left;
color: var(--text-5, #1D2129);

    /* Body */
    font-family: Inter;
    font-size: .9rem;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    /* 1.2rem */
}